[Unit]
Description=Django Application

[Service]
Type=simple
PIDFile=/var/run/app.pid
User=root
Group=root
WorkingDirectory=/app/
ExecStart=/usr/local/bin/uwsgi /app/etc/uwsgi.ini
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
